@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

body {
    padding: 0;
    margin: 0;
    font-family: Roboto, Arial, Helvetica, sans-serif;
}

.nav-bar {
    width: 100%;
    height: 50px;
    background: linear-gradient(90deg, rgb(251, 255, 0), rgb(252, 84, 18));
}

.tab {
    display: inline-block;
    cursor: pointer;
    height: 20px;
    border: 1px solid rgb(196, 196, 196);
    border-bottom: none;
    margin-right: 5px;
    padding: 10px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    text-align: center;
    margin-bottom: 0px; 
    font-size: 20px;
}

.active-tab {
    border: 1px solid orangered;
    border-bottom: none;
    color: orangered;
}

.cart {
    margin-left: auto;
    margin-right: 20px;
    width: 80px;
    border: 1px solid rgb(189, 188, 188);
    border-radius: 5px;
    padding: 8px;
    font-weight: bold;
}

.product {
    display: grid;
	grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    justify-items: center;
}

.product-image {
    margin-left: 20px;
    border: 1px solid rgb(196, 196, 196);
    border-radius: 10px;
    width: 70%;
    height: 70%;
}

.product-image img {
    width: 100%;
    height: 100%;
    border-radius: 10px;
}

.product-info {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    text-align: center;
}

.product-info hr {
    width: 100%;
    border: 1px solid orangered;
    stroke-linecap: round;
}

.product-info i {
    font-size: 23px;
    margin-right: 5px;
    color: rgb(255, 217, 0);
}

/* .product-info ul {
    /* list-style: none; 
    margin-bottom: 20px;
} */

.product-info ul li{ 
   text-align: left;
}
.inline-div {
    height: fit-content;
}

.color-box {
    display: inline-block;
    width: 40px;
    height: 40px;
    margin: 10px 0px 30px 20px;
    /* margin-right: 10px;
    margin-bottom: 30px; */
}

.product-info button i{ 
    font-size: 16px;
    color: #fff;
 }

.btn {
    height: 40px;
    width: 150px;
    border-radius: 5px;
    border: none;
    /* border: 1px solid  rgb(196, 196, 196); */
    cursor: pointer;
    font-size: 16px;
    color: #fff;
}

.btn-add {
    background-color: orangered;
    margin-right: 10px;
}

.btn-remove {
    border:1px solid orangered;
    background-color: #fff;
    color: orangered;
}

.product-review {
    margin-top: 50px;   
    text-align: center;
}

.form {
    display: flex;
    flex-direction: column;
    margin-top: 30px;
    justify-content: flex-start;
    align-items: center;
    text-align: center;
}

.error {
    width: 300px;
    height: 100px;
    background-color: rgba(255, 188, 188, 0.89);
    /* border: 1px solid red; */
    border-radius: 5px;
    padding: 10px;
}

.error ul {
    text-align: left;
}

.form div label {
    margin-right: 10px;
    font-weight: bold;
}

.form div {
    margin-bottom: 20px;
}

.form div input {
    height: 30px;
    border-radius: 5px;
    border: 1px solid rgb(189, 188, 188); 
}

.form div .textReview {
    height: 60px;
}

.form div select {
    height: 30px;
    width: 40px;
    border-radius: 5px;
    border: 1px solid rgb(189, 188, 188);
}

.btn-submit {
    border: none;
    background-color: orangered;
}

.reviewBox {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.reviewBox div {
    border: 1px solid rgb(189, 188, 188);
    padding: 20px;
    border-radius: 5px;
    margin-bottom: 30px;
    margin-right: 10px;
}

.reviewBox .revName {
    color: orangered;
}

.reviewBox .revRating {
    text-align: left;
} 

.reviewBox .revReview {
    text-align: left;
} 

.reviewBox .revReview span::before {
    content: '"';
}

.reviewBox .revReview span::after {
    content: '"';
}
